@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

$blue: #4169e1;

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0px, 0px, 0px, 0px);
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px;
}
